@inherits LayoutComponentBase


<div class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <NavMenu></NavMenu>
        @Body
    </main>        
    <Footer></Footer>
</div>
@code{
    
}