@using Fluxor
@using Fluxor.Blazor.Web.Components
@using SemperPrecisStageTracker.Blazor.Store
@using SemperPrecisStageTracker.Blazor.Store.AppUseCase
@inherits FluxorComponent 
@inject IStringLocalizer<ThemeSelector> L
@inject IState<SettingsState> SettingState 
@inject IDispatcher Dispatcher

<strong>@L["Theme"]:</strong>
<select class="form-control" @bind="CurrentTheme">
    <option value="light">@L["Light"]</option>
    <option value="dark">@L["Dark"]</option>
</select>

@code{
    string CurrentTheme
    {
        get => SettingState.Value.Theme;
        set
        {
            Dispatcher.Dispatch(new ChangeThemeAction(value));
        }
    }
    protected override void Dispose(bool disposed)
    {
      base.Dispose(disposed);
    }
}