@inject IStringLocalizer<ThemeSelector> L
@inject ILocalStorageService localStorage
@inject StateService stateService

<strong>@L["Theme"]:</strong>
<select class="form-control" @bind="CurrentTheme">
    <option value="light">@L["Light"]</option>
    <option value="dark">@L["Dark"]</option>
</select>

@code{
    string _currentTheme;
    string CurrentTheme
    {
        get => _currentTheme;
        set
        {
            _currentTheme = value;
            localStorage.SetItem("theme",_currentTheme);
            stateService.SetTheme(_currentTheme);
        }
    }

     protected override async Task OnInitializedAsync()
    {
        // set theme
         CurrentTheme = localStorage.GetItem<string>("theme");
        await base.OnInitializedAsync();
    }
}