@page "/matches/{id}/groups/edit/{groupId}"
@inherits SemperPrecisBaseComponent<GroupContract>
@inject IStringLocalizer<GroupEdit> L
@inject NavigationManager UriHelper

<Heading Size="HeadingSize.Is1">@L["EditGroup"]</Heading>
<NavLink href="@(RouteHelper.GetUrl<MatchDetail>(new{ id = Id}))">@L["BackToMatch"]</NavLink>
<Divider />
@if (ApiLoading)
{
    <p class="text-center">
        <Icon Name="FontAwesomeIcons.AnimationSpinner2x" />
    </p>
}
else
{
    <GroupComponent Model="Model" SubmitCallback="Submit" Match="match"></GroupComponent>
}
@code {
    [Parameter]
    public string GroupId { get; set; } = string.Empty;
    
    MatchContract match = new();

    protected override async Task OnInitializedAsync()
    {
        var response = await Post1("api/Group/GetGroup", new GroupRequest() { GroupId = GroupId });
        if (!string.IsNullOrEmpty(response))
        {
            await base.OnInitializedAsync();
            UriHelper.NavigateTo(RouteHelper.GetUrl<MatchDetail>(new {id = Id}));
            return;
        }
        match = await Post<MatchContract>("api/Match/GetMatch", new MatchRequest
            {
                MatchId = Id
            });
        await base.OnInitializedAsync();
    }

    async Task Submit()
    {
        var request = new GroupUpdateRequest
        {
            Name = Model.Name,
            Description = Model.Description,
            GroupId = Model.GroupId,
            GroupDay = Model.GroupDay,
            MaxShooterNumber = Model.MaxUserNumber,
            Index = Model.Index
        };
        var response = await Post<GroupContract>("/api/Group/UpdateGroup", request);
        if (response != null)
        UriHelper.NavigateTo(RouteHelper.GetUrl<GroupDetail>(new {id = Id, groupId = response.GroupId}));
    }
}
