@page "/"
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<ul>
    <li>Aggiungere un id custom al match per poter mostrare le stats senza che tornino alla pagina di match</li>
    <li>Alla creazione dello stage controllare che l'indice sia consecutivo all'ultimo inserito</li>
    <li>web push notification</li>
    <li>https://github.com/dotnet-presentations/blazor-workshop/blob/master/docs/09-progressive-web-app.md#sending-push-notifications</li>
    <li>uniformare customauthservice pescando le informazioni da localstorage https://github.com/Naveen512/Blazor-webassembly-authentication-scratch/tree/main/BlazorWasm.JwtAuthLearning</li>
    <li>Numero di tessera</li>
    <li>all'aggiunta dello shooter al gruppo, popolare la lista dei team prendendoli dai team dell'utente</li>
    <li>all'aggiunta dello shooter al gruppo, verificare la correttezza dell'associatione</li>
    <li>registrazione SO</li>
</ul>