@page "/"
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@if (Configuration["baseAddress"].Contains("localhost"))
{
<ul>
    <li>Unificare le 2 chiamate per prendere le stat del match</li>
    <li>Evidenziare il warning sullo shooter</li>
    <li>Dark mode</li>
    <li>Numero di tessera</li>
    <li>Return URL</li>
    <li>Modifica profilo</li>

    <li>Luoghi come entità</li>
    <li>Luoghi nel match</li>
    <li>Creare punti di ritrovo per sparare (sicuro/forse/poco probabile) con piccola chat di messaggi</li>

    <li>registrazione SO</li>
    <li>Consentire più SO per stage</li>
    <li>se squalificato solo l'SO allo stage può modificare il report</li>
    <li>Ogni match ha un responsabile di tiro</li>
    <li>Se entro come SO ho link rapido per stage</li>

    <li>web push notification</li>
    <li>https://github.com/dotnet-presentations/blazor-workshop/blob/master/docs/09-progressive-web-app.md#sending-push-notifications</li>
    <li>uniformare customauthservice pescando le informazioni da localstorage https://github.com/Naveen512/Blazor-webassembly-authentication-scratch/tree/main/BlazorWasm.JwtAuthLearning</li>
    <li>Bottone per richiamare responsabile si tiro</li>

    <li>Abilitare la modifica dello shooter stage (team e categoria)</li>
    <li>Alla creazione dello stage controllare che l'indice sia consecutivo all'ultimo inserito</li>
    <li>all'aggiunta dello shooter al gruppo, popolare la lista dei team prendendoli dai team dell'utente</li>
    <li>all'aggiunta dello shooter al gruppo, verificare la correttezza dell'associazione -aggiungere check in salvataggio-</li>

    <li>Evidenziare Migliori 3 (oro/argento/bronzo) per ogni stage</li>
    <li>Inserimento link per download immagini</li>
    <li>esportazione in csv</li>
    <li>caricamento immagini per posizione stage</li>
    <li>Opzione lotteria /elimina all'uscita o mantieni</li>

    <li>?? Controllare tastierino numerico su Ios ??</li>
</ul>
}