@page "/shooters"
@inject IJSRuntime JSRuntime
@inherits SemperPrecisBaseMainComponent
@inject IStringLocalizer<Shooters> L
@inject NavigationManager UriHelper

<Heading Size="HeadingSize.Is1">@L["Shooters"]</Heading>
<Divider />
<AuthorizeView Roles="@(PermissionCtor.ManageShooters.CreateShooters.EditShooter.ToString())">
    <Authorizing>
        <h3 class="mt-5">@L["Loading"]</h3>
    </Authorizing>
    <NotAuthorized>
        <h3 class="mt-5">@L["NoAuth"]</h3>
    </NotAuthorized>
    <Authorized>
        <ShootersList ApiLoading="ApiLoading" ReloadListCallback="LoadEntities" Shooters="shooters" DeleteShooterCallback="DeleteShooter"></ShootersList>
    </Authorized>
</AuthorizeView>
@code {
    
    IList<UserContract> shooters = new List<UserContract>();
    
    protected override async Task OnInitializedAsync()
    {
        await LoadEntities();
        await base.OnInitializedAsync();
    }

    private async Task LoadEntities()
    {
        var result = await Post<List<UserContract>>("api/Shooter/FetchAllShooters");
        if (result != null)
        {
            shooters = result;
        }
    }
    private async Task DeleteShooter(string id)
    {
        await Post<UserContract>("/api/Shooter/DeleteShooter", new ShooterRequest
        {
            ShooterId = id
        });

        await LoadEntities();
    }
}