<!-- Header-->
<header class="py-5">
    <div class="container px-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xxl-6">
                <div class="text-center my-5">
                    <h1 class="fw-bolder mb-3">Cookie Policy</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- About section one-->
<section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="grid-8 pageContent">

            <div class="entry-content">
                <h2>Informativa Privacy ai sensi del D. Lgs 196/2003 e dell’art. 13 del Regolamento Europeo 679/2016 (GDPR)</h2>
                <p>ASD Semper Precis (P.IVA 03934240130), in persona del legale rappresentante pro tempore, con sede in Via Fornace, 1 – 23841 Annone di Brianza (LC), in qualità di titolare del trattamento, La informa che, in ottemperanza al D.lgs 196/2003 e del Regolamento europeo 679/2016 (cd. GDPR) che disciplina e regolamenta la tutela dei dati personali e la loro libera circolazione, i Suoi dati personali saranno trattati in conformità all’anzidetta normativa, improntandosi ai principi di correttezza, liceità, proporsionalità di interessi e trasparenza nonché alla tutela della Sua riservatezza e dei Suoi diritti, per i fini, con le modalità e per i termini di seguito meglio indicati.</p>
                <p><strong>1. Finalità, modalità e basi giuridiche del trattamento dei dati</strong></p>
                <p>La presente privacy policy si applica esclusivamente alle attività online del presente sito ed è valida per i visitatori/utenti del sito. Non si applica alle informazioni raccolte tramite canali diversi dal presente sito web. Lo scopo dell’informativa privacy è di fornire la massima trasparenza relativamente alle informazioni che il sito raccoglie e come le usa.</p>
                <p>I Suoi dati personali saranno trattati esclusivamente per finalità strettamente connesse, strumentali e necessarie all’adempimento delle obbligazioni inerenti ai rapporti con la nostra Società; in particolare:</p>
                <p>Il trattamento dei dati personali è realizzato per mezzo delle operazioni indicate nel al D.lgs 196/2003 e all’art. 4 n. 2) GDPR e precisamente: raccolta, registrazione, organizzazione, conservazione, consultazione, elaborazione, modificazione, selezione, estrazione, raffronto, utilizzo, interconnessione, blocco, comunicazione, cancellazione e distruzione.</p>
                <p>Il trattamento dei dati personali sarà effettuato tramite supporti informatici dal titolare, dal responsabile/dai responsabili e dai soggetti autorizzati (incaricati) con l’osservanza di ogni misura cautelativa, che ne garantisca la sicurezza e riservatezza. I dati non saranno oggetto di profilazione né oggetto di processi decisionali automatizzati.</p>
                <p>I dati saranno conservati presso il titolare dei dati e presso i responsabili al trattamento dei dati da esso designati. In ogni caso, i suoi dati personali saranno conservati e trattati all’interno dei confini dello spazio economico europeo e saranno trasferiti al di fuori di tale confine solo mediante suo esplicito consenso.</p>
                <p>In caso di conferimento da parte Sua di commenti e/o dati personali per la richiesta di informazioni e/o di specifici servizi richiesti dall’utente (a titolo esemplificativo e non esaustivo richiesta di informazioni commerciali, iscrizione al nostro portale, iscrizione alla nostra newsletter), tali dati si intendono volontariamente forniti dall’utente al momento della richiesta di erogazione del servizio. Inserendo un commento o altra informazione l’utente accetta espressamente la presente informativa privacy, Il presente sito potrebbe trattare alcuni dei dati personali in base ai legittimi interessi del titolare del trattamento come previsto nel al D.lgs 196/2003 e dall’Art. 6 del Regolamento Europeo 679/206.</p>
                <p>I dati ricevuti verranno utilizzati esclusivamente per l’erogazione del servizio richiesto e per il solo tempo necessario per la fornitura del servizio. Le informazioni che gli utenti del sito riterranno di rendere pubbliche tramite i servizi e gli strumenti messi a disposizione degli stessi, sono fornite dall’utente consapevolmente e volontariamente, esentando il presente sito da qualsiasi responsabilità in merito ad eventuali violazioni delle leggi. Spetta all’utente verificare di avere i permessi per l’immissione di dati personali di terzi o di contenuti tutelati dalle norme nazionali ed internazionali.</p>
                <p>I dati raccolti dal sito durante il suo funzionamento sono utilizzati esclusivamente per le finalità sopra indicate e conservati per il tempo strettamente necessario a svolgere le attività precisate. In ogni caso i dati rilevati dal sito non saranno forniti mai a terzi, per nessuna ragione, a meno che non si tratti di legittima richiesta da parte dell’autorità giudiziaria e nei soli casi previsti dalla legge.</p>
                <p><strong>2. Natura della raccolta dei dati e conseguenze di un eventuale mancato conferimento</strong></p>
                <p>Come tutti i siti web anche il presente sito fa uso di log files nei quali vengono conservate informazioni raccolte in maniera automatizzata durante le visite degli utenti. Le informazioni raccolte potrebbero essere le seguenti:</p>
                <ul>
                    <li>indirizzo internet protocol (IP);</li>
                    <li>tipo di browser e parametri del dispositivo usato per connettersi al sito;</li>
                    <li>nome dell’internet service provider (ISP);</li>
                    <li>data e orario di visita;</li>
                    <li>pagina web di provenienza del visitatore (referral) e di uscita;</li>
                    <li>eventualmente il numero di click.</li>
                </ul>
                <p>Le suddette informazioni sono trattate in forma automatizzata e raccolte in forma esclusivamente aggregata al fine di verificare il corretto funzionamento del sito, per motivi di sicurezza e per i legittimi interessi del titolare previsti dalla normativa vigente.</p>
                <p>A fini di sicurezza (filtri antispam, firewall, rilevazione virus), i dati registrati automaticamente possono eventualmente comprendere anche dati personali come l’indirizzo Ip, che potrebbe essere utilizzato, conformemente alle leggi vigenti in materia, al fine di bloccare tentativi di danneggiamento al sito medesimo o di recare danno ad altri utenti, o comunque attività dannose o costituenti reato. Tali dati non sono mai utilizzati per l’identificazione o la profilazione dell’utente, ma solo a fini di tutela del sito e dei suoi utenti e dai legittimi interessi del Titolare al trattamento dei dati.</p>
                <p>Con l’uso o la consultazione del presente sito i visitatori e gli utenti approvano esplicitamente la presente informativa privacy e acconsentono al trattamento dei loro dati personali in relazione alle modalità e alle finalità di seguito descritte, compreso l’eventuale diffusione a terzi se necessaria per l’erogazione di un servizio. Il conferimento dei dati e quindi il consenso alla raccolta e al trattamento dei dati è facoltativo, tuttavia negare il consenso può comportare l’impossibilità di erogare alcuni servizi e l’esperienza di navigazione nel sito potrebbe essere compromessa.</p>
                <p>Il consenso all’utilizzo dei suoi dati per finalità di marketing e/o pubblicitarie (invio di e.mail e/o comunicazioni con offerte pubblicitarie), è facoltativo e richiede da parte sua, oltre al conferimento dei suoi dati personali anche richiesta esplicita mediante funzione di opt-in sul presente sito web.</p>
                <p>
                    <strong>
                        3. Tempistiche e termini<br>
                    </strong>Il Titolare, i responsabili e i soggetti autorizzati al trattamento (incaricati) tratteranno i dati personali per il tempo necessario ad adempiere le finalità di cui sopra e, comunque, per non più di 10 anni dalla cessazione del rapporto ove previsto o reso necessario dalle normative vigenti.<br>
                    In merito al conferimento dei dati da parte sua per la ricezione di informazioni commerciali, newsletter e informative periodiche, i dati saranno trattati fino alla sua richiesta di disiscrizione.
                </p>
                <p>
                    <strong>
                        4. Comunicazione e diffusione dei dati<br>
                    </strong>I Suoi dati personali, ai fini dell’esecuzione del contratto ovvero dalle prestazioni da lei richieste e per le finalità sopra indicate, potranno essere comunicati:
                </p>
                <ul>
                    <li>
                        a tutte le persone fisiche e giuridiche (a titolo esemplificativo e non esaustivo studi di consulenza legale, amministrativa, fiscale, società di revisione, corrieri e spedizionieri, centro elaborazione dati, consulenti informatici, fornitori etc.) nei casi in cui la comunicazione risulti necessaria per le finalità sopra illustrate;<br>
                        ad istituti bancari per la gestione degli incassi e dei pagamenti;
                    </li>
                    <li>a società di factoring o di recupero crediti;</li>
                    <li>ai nostri collaboratori e dipendenti appositamente incaricati e nell’ambito delle relative mansioni.</li>
                    <li>a SMTP providers per l’invio delle newsletters</li>
                </ul>
                <p>Il D.P.O., qualora nominato dal Titolare su base obbligatoria o volontaria, nonché il nominativo e il numero dei responsabili possono essere soggetti a variazione, pertanto si consiglia di consultare il nostro sito internet – ove potrete trovare tutte le informazioni aggiornate – alla pagina dedicata al seguente link: asdsemperprecis.com oppure contattando i seguenti recapiti: +39 3391066770, amministrazione@asdsemperprecis.it.</p>
                <p><strong>5. Diritti dell’interessato</strong></p>
                <p>
                    Chiamando il numero +39 339 1066770 o scrivendo a amministrazione@asdsemperprecis.it in ogni momento potrà esercitare i Suoi diritti nei confronti del titolare del trattamento ai sensi del Regolamento Europeo 679/2016, che per Sua comodità riproduciamo.<br>
                    L’interessato ha diritto di ottenere la conferma dell’esistenza e/o del fatto che sia o meno in corso il trattamento dei dati personali che lo riguardano, anche se non ancora registrati, nonchè la loro comunicazione in forma intelligibile.<br>
                    L’interessato ha diritto di ottenere l’indicazione:
                </p>
                <ul>
                    <li>dell’origine dei dati personali (con particolar riguardo al caso in cui gli stessi non siano raccolti presso l’interessato e, per il caso di trasferimento dei dati in un paese terzo, dell’esistenza di garanzie adeguate ai sensi dell’art. 46 del Regolamento);</li>
                    <li>delle finalità e modalità del trattamento;</li>
                    <li>della logica applicata in caso di trattamento effettuato con l’ausilio di strumenti elettronici;</li>
                    <li>degli estremi identificativi del titolare, dei responsabili e del rappresentante designato;</li>
                    <li>
                        dei soggetti o delle categorie di soggetti ai quali i dati personali possono essere comunicati o che possono venirne a conoscenza in qualità di rappresentante designato nel territorio dello Stato, di responsabili o soggetti autorizzati;<br>
                        delle categorie di dati personali di cui si sta effettuando il trattamento;
                    </li>
                    <li>del periodo di conservazione dei dati o dei criteri utilizzati per determinare tale periodo;</li>
                    <li>dell’esistenza di processi decisionali automatizzati, con particolar riguardo alla profilazione, e della logica da essi applicata;</li>
                    <li>del diritto di ottenere copia dei dati personali oggetto di trattamento;</li>
                </ul>
                <p>L’interessato ha, inoltre, il diritto di ottenere:</p>
                <ul>
                    <li>l’aggiornamento, la rettificazione ovvero, quando vi ha interesse, l’integrazione dei dati;</li>
                    <li>la cancellazione, la trasformazione in forma anonima o il blocco dei dati trattati in violazione di legge, compresi quelli di cui non è necessaria la conservazione in relazione agli scopi per i quali i dati sono stati raccolti o successivamente trattati;</li>
                    <li>l’attestazione che le operazioni di cui alle lettere a) e b) sono state portate a conoscenza, anche per quanto riguarda il loro contenuto, di coloro ai quali i dati sono stati comunicati o diffusi, eccettuato il caso in cui tale adempimento si rivela impossibile o comporta un impiego di mezzi manifestamente sproporzionato rispetto al diritto tutelato;</li>
                    <li>la portabilità dei dati verso altri soggetti per il quale dovrà farsi richiesta esplicita ai seguenti recapiti +39 339 1066770, amministrazione@asdsemperprecis.it</li>
                    <li>la cancellazione dei dati presso i nostri archivi ai sensi dell’art.17 pt. 1 lett. da a) sino a f) del Regolamento (cd. diritto all’oblio), mediante comunicazione a +39 339 1066770, amministrazione@asdsemperprecis.it</li>
                    <li>di limitare il trattamento dei dati ai sensi dell’art. 18 pt. 1, lett. da a) sino a d) del Regolamento</li>
                </ul>
                <p>L’interessato ha diritto di opporsi, in tutto o in parte al trattamento dei dati:</p>
                <ul>
                    <li>per motivi legittimi e connessi alla sua situazione particolare, ancorché il trattamento sia pertinente allo scopo della raccolta;</li>
                    <li>al trattamento di dati personali che lo riguardano a fini di invio di materiale pubblicitario o di vendita diretta o per il compimento di ricerche di mercato o di comunicazione commerciale;</li>
                    <li>al trattamento dei dati ai sensi dell’art. 6, pt.1 lett e) ed f) compresa la profilazione sulla scorta di tali disposizioni.</li>
                </ul>
                <p>
                    Qualora il trattamento dei dati si basi sul consenso dell’interessato, quest’ultimo ha il diritto di revocare tale consenso in ogni momento facendone richiesta esplicita ai seguenti recapiti +39 339 1066770, <a href="mailto:amministrazione@asdsemperprecis.it">amministrazione@asdsemperprecis.it</a>.<br>
                    Può contattare il DPO nominato scrivendo una mail a <a href="mailto:dpo@privacynet.it">dpo@privacynet.it</a> o una Pec a <a href="mailto:dpo@autpec.it">dpo@autpec.it</a>.<br>
                    L’interessato, inoltre, ha il diritto di proporre reclamo all’Autorità di Controllo. L’esercizio degli anzidetti diritti può essere esercitato con richiesta rivolta al titolare o al responsabile trasmessa via telefono, a mezzo email agli indirizzi sopra indicati o anche mediante lettera raccomandata A/R.
                </p>
            </div>
        </div>
    </div>
</section>