@page "/app/shooters"
@inject IJSRuntime JSRuntime
@inherits SemperPrecisBaseComponent
@inject IStringLocalizer<Shooters> L
@inject NavigationManager UriHelper

<Heading Size="HeadingSize.Is1">@L["Shooters"]</Heading>
<Divider />
<AuthorizeView Roles="@(Permissions.ManageShooters.And(Permissions.CreateShooters,Permissions.EditShooter))">
    <Authorizing>
        <h3 class="mt-5">@L["Loading"]</h3>
    </Authorizing>
    <NotAuthorized>
        <h3 class="mt-5">@L["NoAuth"]</h3>
    </NotAuthorized>
    <Authorized>
        <ShootersList ApiLoading="ApiLoading" ReloadListCallback="LoadEntities" Shooters="shooters" DeleteShooterCallback="DeleteShooter"></ShootersList>
    </Authorized>
</AuthorizeView>
@code {
    
    IList<ShooterContract> shooters = new List<ShooterContract>();
    
    protected override async Task OnInitializedAsync()
    {
        await LoadEntities();
        await base.OnInitializedAsync();
    }

    private async Task LoadEntities()
    {
        ApiLoading = true;
        shooters = await Post<IList<ShooterContract>>("api/Shooter/FetchAllShooters", null);
        ApiLoading = false;
    }
    private async Task DeleteShooter(string id)
    {
        
        await Post<ShooterContract>("/api/Shooter/DeleteShooter", new ShooterRequest
        {
            ShooterId = id
        });

        LoadEntities();
    }
}