@using SemperPrecisStageTracker.Blazor.BackOffice.Pages
@inject IStringLocalizer<NavMenu> L
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="top-row pl-4 navbar navbar-dark">
    <NavLink class="navbar-brand px-3" href="@(RouteHelper.GetUrl<Home>())">
        SemperPrecis Tracker
    </NavLink>
    <AuthorizeView>
        <Authorized>
            <button class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </Authorized>
    </AuthorizeView>
</div>
<AuthorizeView>
    <Authorized>
        <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
            <nav class="flex-column">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="@(RouteHelper.GetUrl<Home>())" Match="NavLinkMatch.All">
                        <Icon Name="FontAwesomeIcons.Book" /> @L["Home"]
                    </NavLink>
                </div>
            </nav>
        </div>
    </Authorized>

</AuthorizeView>
@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    protected override void Dispose(bool disposed)
    {
        base.Dispose(disposed);
    }
}
